$primary-color: black;
$secondary-color: #ff6524;
$text-color: grey;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 1000
);
$mobile: 800px;